# $Id: regions.cfg 1232 2006-03-03 20:04:13Z austin $
#
#
#
# Region Data
#
# This file can be split up into multiple files, if different region
# definitions are desired.
# For example, if justice.cfg exists, it will be used for Guarded, etc
#
# Like any other region file, regions only override regions found earlier in the file.
#
# Justice Regions (justice.cfg)
#    Guarded    0/1     Is the justice region guarded?
#    EnterText  [text]  Text to display upon entry
#    LeaveText  [text]  Text to display upon exit
#
# Music Regions (music.cfg)
#    midi       [midinumber]    Music to play while in this region
#                               Can occur more than once
#                               we'll probably do some sort of midilist thing
#
# NoCast Regions (nocast.cfg)
#    nocast     0/1             1 if spells can't be cast here.
# 
# era 27 mas mudei pra 9
# EnterScript	:nature:enterCold
# LeaveScript	:nature:leaveCold
# EnterScript	:nature:enterTremor
# LeaveScript	:nature:leaveTremor

Region  Background
{
	Range		0 0 5119 4095
    Realm		britannia
    Guarded		0
	NoCombat        0
	midi		9
}

Region cidadela
{
	Range		1175 1395 1359 1572
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	19
}

Region dakari1
{
	Range		1138 1005 1272 1380
    Realm		britannia
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
	midi	    12
}

Region dakari2
{
	Range		1136 1054 1008 1312
    Realm		britannia
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
	midi	    12
}

Region dakari3
{
	Range		967 1329 1135 1592
    Realm		britannia
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
	midi	    80
}